.my-container{
    height: 2339px;
    width: 1654px;
}
.titre{
    text-align: center;
    height: 234px;
    margin-top: 20px;
}
.photo{
    height:  368px;
}
.info{
    margin-top: 100px;
}
.p{
    margin-top: 20px;
    height:  234px;
    border-bottom-style: dotted;
}
.p1{
    margin-top: 20px;
    border-top-style: dotted;
    border-bottom-style: dotted;
    height:  234px;
}
section{
    margin: 50px;
}
.loisire {
    height:  234px;
    text-align: center;
}
img {
    border-radius: 15%;
    width: 200px;
    margin-right: 40px;
}